<div class="bg" style="background-image: url(https://res.cloudinary.com/diiwzk17a/image/upload/v1597509320/bg_er6x8h.jpg)">
  <div class="card-title">
  <div class="container-logo p-5" style="background-image: url(https://res.cloudinary.com/diiwzk17a/image/upload/v1597509329/cocktail-icon_vterfl.png)">
<h1 class="text-center">Cocktails</h1>
<p class="text-center">Delicious recipes modified by you!</p>
</div>
</div>
<div class="container mt-0">
  <div class="row justify-content-end m-3">
  <button type="button" class="btn"><%= link_to "Add a new cocktail",  new_cocktail_path %></button>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <%=link_to cocktail_path(cocktail["id"]) do %>
        <% if cocktail.photo.attached? %>
          <div class="card mb-4" style="background-image: url('<%= cl_image_path(cocktail.photo.key, height: 300, width: 400, crop: :fill)%>');">
        <% else %>
          <div class="card mb-4">
        <% end %>
          <h3 class="text-link"><i class="fas fa-cocktail"></i> <%= cocktail.name.capitalize %></h3>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
