// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: futura;
}

.bg {
  /* The image used */


  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#imagebar {
  background-image: asset-url('imagebar.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

h1 {
  font-family: futura;
  }

.flex-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  #new-page {
    justify-content: flex-start;
  }
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  position: relative;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,1);
  }
}

.white-text {
  text-shadow: 0 0 12px #FF0000, 0 0 16px #0000FF;
  color: white;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0);
  }
}

.card-title {
  color: white;
  h1 {
  color: white;
  font-size: 60px;
  text-shadow: 0 0 12px #FF0000, 0 0 16px #0000FF;
  }
}

.card-category {
  font-family: futura;
  display: flex;
  color: white;
  font-size: 32px;
  background-color: rgba(238, 53, 155, 0.7);
  position: absolute;
  top: 24px;
  right: 24px;
}



.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-new {
  height: 120px;
  display: flex;
  align-items: center;
   h1 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 60px;
  text-shadow: 0 0 12px #FF0000, 0 0 16px #0000FF;
  }
}

img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.js {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: none;
}

.list-unstyled {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: none;
  font-family: futura;

}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #FD449F;

    text-decoration: none;
  }
}

.btn a {
  background-color: #FD449F;
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  position: relative;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,1);
    background-color: #3371A4;
  }
  &:active {
    top: 2px;
    left: 3px
  }
}

.text-link {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  font-family: futura;
}


.label {
  background-color: #3371A4;
  color: white;
  text-decoration: none;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  position: relative;
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    background-color: #FD449F;
  }
  &:active {
    top: 2px;
    left: 3px
  }
}

.container-fluid {
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #0D477D;
  color: white;
}

.container-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px;
  padding: 24px;
   h4 {
  color: white;
  text-shadow: 0 0 12px #FF0000, 0 0 16px #0000FF;
  font-family: futura;
  padding: 8px;
  }
}

 h4 {
  color: white;
  font-family: futura;
  padding: 8px 0;
}

.card-deck {
  color: white;
  border-radius: 4px;
}


